guidelines.md
*.pdb
*.gro
*.zip
*.tpr
*.edr
*.log
*.trr
*.swp
*.xvg
*.offsets
*.cpt
*.err
*.out
*.xtc
*.ndx
*.itp
*.top
*.mol2
log.*
.acpype*
.ipynb_checkpoints/
biobb_wf_ligand_parameterization/notebooks/*.png
biobb_wf_ligand_parameterization/notebooks/*.gif
biobb_wf_ligand_parameterization/notebooks/*.web*.ipynb
biobb_wf_ligand_parameterization/notebooks/*.docs.ipynb
*.old.ipynb
*.bk.ipynb
\#*\#