# Input:
receptor = 2xa0_A.pdbqt 
ligand = ligand.pdbqt

# Search Space:
center_x = 33.472 
center_y = -16.508 
center_z = -14.289

size_x = 40
size_y = 40 
size_z = 40

energy_range = 4
exhaustiveness = 20

# Output:
#all = siatosia2_1jsn_mod_all.pdbqt
log = log-protein-ligand.out

# Misc:
cpu = 3
num_modes = 20
